node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store
/.idea/boom-native.iml
/.idea/sonarlint/issuestore/index.pb
/.idea/modules.xml
/.idea/prettier.xml
/.idea/runConfigurations.xml
/.idea/vcs.xml
